/.idea*
/app
vendor
composer.phar
composer.lock
.phpunit.result.cache
tools/.env.local
tools/logs
tests/ApplicationBridge/auth.json
/examples/*.log
/examples/**/*.log
/examples/**/*/*.log
docs/api/var
/var
*.private.env.*
.env.local
*.local