<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" backupGlobals="false" colors="true"
         bootstrap="tests/bootstrap.php" failOnRisky="true" failOnWarning="true"
         displayDetailsOnTestsThatTriggerWarnings="true">
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="unit_tests">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="integration_tests">
            <directory>./tests/Integration</directory>
        </testsuite>
        <testsuite name="integration_tests_core">
            <directory>./tests/Integration/Core/</directory>
        </testsuite>
        <testsuite name="integration_tests_scope_telephony">
            <directory>./tests/Integration/Services/Telephony/</directory>
        </testsuite>
        <testsuite name="integration_tests_scope_im">
            <directory>./tests/Integration/Services/IM/</directory>
        </testsuite>
        <testsuite name="integration_tests_scope_im_open_lines">
            <directory>./tests/Integration/Services/IMOpenLines/</directory>
        </testsuite>
        <testsuite name="integration_tests_scope_placement">
            <directory>./tests/Integration/Services/Placement/</directory>
        </testsuite>
        <testsuite name="integration_tests_scope_user">
            <directory>./tests/Integration/Services/User/</directory>
        </testsuite>
        <testsuite name="integration_tests_scope_user_consent">
            <directory>./tests/Integration/Services/UserConsent/</directory>
        </testsuite>
        <testsuite name="integration_tests_scope_workflows">
            <directory>./tests/Integration/Services/Workflows/</directory>
        </testsuite>
        <testsuite name="integration_tests_scope_entity">
            <directory>./tests/Integration/Services/Entity/</directory>
        </testsuite>
        <testsuite name="integration_tests_scope_ai_admin">
            <directory>./tests/Integration/Services/AI/</directory>
        </testsuite>
        <testsuite name="integration_tests_scope_log">
            <directory>./tests/Integration/Services/Log/</directory>
        </testsuite>
        <testsuite name="integration_tests_scope_sale">
            <directory>./tests/Integration/Services/Sale/</directory>
        </testsuite>
        <testsuite name="integration_tests_sale_status">
            <directory>./tests/Integration/Services/Sale/Status/</directory>
        </testsuite>
        <testsuite name="integration_tests_sale_status_lang">
            <directory>./tests/Integration/Services/Sale/StatusLang/</directory>
        </testsuite>
        <testsuite name="integration_tests_scope_crm">
            <directory>./tests/Integration/Services/CRM/</directory>
        </testsuite>
        <testsuite name="integration_tests_scope_crm_address">
            <directory>./tests/Integration/Services/CRM/Address/</directory>
        </testsuite>
        <testsuite name="integration_tests_scope_crm_deal_details">
            <file>./tests/Integration/Services/CRM/Deal/Service/DealDetailsConfigurationTest.php</file>
        </testsuite>
        <testsuite name="integration_tests_scope_crm_contact_details">
            <file>./tests/Integration/Services/CRM/Contact/Service/ContactDetailsConfigurationTest.php</file>
        </testsuite>
        <testsuite name="integration_tests_lead_productrows">
            <file>./tests/Integration/Services/CRM/Lead/Service/LeadProductRowsTest.php</file>
        </testsuite>
        <testsuite name="integration_tests_lead_userfield">
            <file>./tests/Integration/Services/CRM/Lead/Service/LeadUserfieldTest.php</file>
        </testsuite>
        <testsuite name="integration_tests_lead_userfield_use_case">
            <file>./tests/Integration/Services/CRM/Lead/Service/LeadUserfieldUseCaseTest.php</file>
        </testsuite>
        <testsuite name="integration_tests_scope_crm_currency">
            <directory>./tests/Integration/Services/CRM/Currency/</directory>
        </testsuite>
        <testsuite name="integration_tests_deal_recurring">
            <file>./tests/Integration/Services/CRM/Deal/Service/DealRecurringTest.php</file>
        </testsuite>
        <testsuite name="integration_tests_lead_contacts">
            <file>./tests/Integration/Services/CRM/Lead/Service/LeadContactTest.php</file>
        </testsuite>
        <testsuite name="integration_tests_crm_item">
            <directory>./tests/Integration/Services/CRM/Item/Productrow/</directory>
        </testsuite>
        <testsuite name="integration_tests_scope_automation">
            <directory>./tests/Integration/Services/CRM/Automation/</directory>
        </testsuite>
        <testsuite name="integration_tests_lead_details">
            <file>./tests/Integration/Services/CRM/Lead/Service/LeadDetailsConfigurationTest.php</file>
        </testsuite>
        <testsuite name="integration_tests_crm_quote">
            <directory>./tests/Integration/Services/CRM/Quote/</directory>
        </testsuite>
        <testsuite name="integration_tests_crm_requisite">
            <file>./tests/Integration/Services/CRM/Requisites/Service/RequisiteLinkTest.php</file>
        </testsuite>
        <testsuite name="integration_tests_crm_preset_field">
            <file>./tests/Integration/Services/CRM/Requisites/Service/RequisitePresetFieldTest.php</file>
        </testsuite>
        <testsuite name="integration_tests_crm_requisite_userfield">
            <file>./tests/Integration/Services/CRM/Requisites/Service/RequisiteUserfieldTest.php</file>
        </testsuite>
        <testsuite name="integration_tests_crm_status">
            <directory>./tests/Integration/Services/CRM/Status/</directory>
        </testsuite>
        <testsuite name="integration_tests_crm_timeline">
            <directory>./tests/Integration/Services/CRM/Timeline/</directory>
        </testsuite>
        <testsuite name="integration_tests_department">
            <directory>./tests/Integration/Services/Department/</directory>
        </testsuite>
        <testsuite name="integration_tests_scope_sale">
            <directory>./tests/Integration/Services/Sale/</directory>
        </testsuite>
        <testsuite name="integration_tests_task">
            <directory>./tests/Integration/Services/Task/</directory>
        </testsuite>
        <testsuite name="integration_tests_sale">
            <directory>./tests/Integration/Services/Sale/</directory>
        </testsuite>
        <testsuite name="integration_tests_sale_order">
            <directory>./tests/Integration/Services/Sale/Order/</directory>
        </testsuite>
        <testsuite name="integration_tests_sale_shipment">
            <directory>./tests/Integration/Services/Sale/Shipment/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>
</phpunit>
