name: "PhpCsFixer lint checks"
on:
  push:
  pull_request:

jobs:
  static-analysis:
    name: "PhpCsFixer"
    runs-on: ${{ matrix.operating-system }}

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "8.4"
        dependencies: [ highest ]
        operating-system: [ ubuntu-latest]

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"
          extensions: json, bcmath, curl, intl, mbstring
          tools: composer:v2

      - name: "Install lowest dependencies"
        if: ${{ matrix.dependencies == 'lowest' }}
        run: "composer update --prefer-lowest --no-interaction --no-progress --no-suggest"

      - name: "Install highest dependencies"
        if: ${{ matrix.dependencies == 'highest' }}
        run: "composer update --no-interaction --no-progress --no-suggest"

      - name: "PhpCsFixer"
        run: "vendor/bin/php-cs-fixer check --verbose --diff"

      - name: "is PhpCsFixer check succeeded"
        if: ${{ success() }}
        run: |
          echo '✅ PhpCsFixer check pass, congratulations!'

      - name: "is PhpCsFixer check failed"
        if: ${{ failure() }}
        run: |
          echo '::error:: ❗️ PhpCsFixer check failed (╯°益°)╯彡┻━┻'